html {background-color: #282b2b;}

/* 
To-Do:
Dropdown menu function (copy js from Locationjs - dropdown & edit from there - change 'myFunction' to 'dropdown')
Center Header
Navigation Links into Buttons
*/

.parent {
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(11, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
font-family: consolas;
color:#fcf2c2; 
}

.ActionLinks { 
    grid-area: 2 / 3 / 3 / 5;
    display: grid;
    grid-template-columns: 21% 21% 21% 21%;
    gap: 1px 1px;
    grid-template-areas:
    "Observation CTScan Surgery Intervention";
    grid-area: ActionLinks;
    align-items: center;
    display:inline-grid;
}

.Observation { grid-area: Observation; }
.CTScan { grid-area: CTScan; }
.Surgery { grid-area: Surgery; }
.Intervention { grid-area: Intervention; }

.Action { grid-area: 3 / 3 / 5 / 5; }

.ActionIcon {
    grid-area: 5 / 1 / 6 / 7;
    height:10vw; 
    }

.ActionInfo { grid-area: 6 / 2 / 10 / 6; }

.RememberBox { grid-area: 10 / 2 / 12 / 6; 
    margin-left:auto;
    margin-right:auto;
    width:50vw;
}

.NavBar {
    grid-area: 1 / 2 / 2 / 6;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    gap: 1px 1px;
    grid-template-areas:
    "Begin-Shift Progress-Report Review-Shift";
    grid-area: NavBar;
    align-items: center;
    display:inline-grid;
}

.Begin-Shift { grid-area: Begin-Shift; }
.Progress-Report { grid-area: Progress-Report; }
.Review-Shift { grid-area: Review-Shift; }
