html {background-color: #282b2b;}

.grid-container {
    display: grid;
    grid-template-columns: 12.5% 25% 25% 25% 12.5%;
    grid-template-rows: 10% 10% 20% 60% 10% 10%;
    gap: 0px 0px;
    grid-template-areas:
      ". Header Header Header ."
      ". Action . . ."
      ". ActionIcon ActionInfo ActionInfo ."
      ". RememberBox RememberBox RememberBox ."
      ". ReviewActions . ActionNav ."
      ". NavBar NavBar NavBar .";
    font-family: consolas;
    color:#fcf2c2;
  }
  
  .ActionIcon { grid-area: ActionIcon;
    height:10vw;    
}
  
  .Action { grid-area: Action; 
    text-align:center;    
}
  
  .ActionInfo { grid-area: ActionInfo; }
  
  .RememberBox { grid-area: RememberBox; }
  
  .Header { grid-area: Header; }
  
  .ReviewActions { grid-area: ReviewActions; }

  .ActionNav { grid-area: ActionNav; }

  .NavBar { grid-area: NavBar; }
  


.Tabs{
    text-align:center;
}


.remembericon {
    height:7vw;
}

.arrow {
    height:3vw;
}

#RememberBox {
    margin-left:auto;
    margin-right:auto;
    width:fill;
}