html {background-color: #282b2b;}

/* 
To-Do:
Dropdown menu function (copy js from Locationjs - dropdown & edit from there - change 'myFunction' to 'dropdown')
Center Header
Navigation Links into Buttons
*/

.parent {
font-family: consolas;
color:#fcf2c2; 
}

/* Style the navigation menu */
.ANavigation {
  width: 100%;
  background-color: #0096DF;
  overflow: auto;
}

/* Navigation links */
.ANavigation a {
  padding: 10px;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 18px;
  width: 24.9%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.ANavigation a:hover {
  background-color: #4CAF50;
}

/* Style the current/active link */
.ANavigation a.active {
  background-color: #4CAF50;
}

.Action {
    display: block;
    text-align: center;
    font-family: Consolas;
}

.ActionIcon {
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height:10vw;
    padding: 5px;
    }

.ActionInfo {
    display: block;
    text-align: center;
    padding: 10px;
    font-family: Consolas;
}

.RememberBox {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:50vw;
    padding: 10px;
}

.Navigation {
    display: grid;
    grid-template-columns: auto;
    gap: 1px 1px;
    grid-template-areas:
    "BeginShift Progress-Report Review-Shift";
    grid-area: Navigation;
    align-items: center;
    display:inline-grid;
}

.ALButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#31BBF6;
    text-align: center;
    border-radius:3px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Consolas;
    font-size:1vw;
    padding:6px 200px;
    text-decoration:none;
}

.NavButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#31BBF6;
    text-align: center;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Consolas;
    font-size:2vw;
    padding:6px 75px;
    text-decoration:none;
}

.NavIcon {
    height:2vw;
}
