
.Vitals {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 3vw 3vw 3vw;
    gap: 1px 1px;
    grid-template-areas:
    "Vital-Signs Vital-Signs"
    "BP HR"
    "T O2";
    grid-area: Vitals;
    border:solid;
    border-radius:1vw;
    margin-top:0px;
    padding-top:0px;
    align-content:center;
    margin-left:3vw;
    padding-left:3vw;
    font-size:2.5vw;
}
.Vital-Signs { grid-area: Vital-Signs;
    font-size:1.5vw;
}
.Vital-Signs>h3 {
    text-align:center;
    margin-top:0px;
    padding-top:0px;
}
.BP,.HR,.T,.O2 {font-size:1.4vw;}
.BP { grid-area: BP;}
.HR { grid-area: HR;}
.T { grid-area: T;}
.O2 { grid-area: O2;}
.Case-Details { grid-area: Case-Details;
}
.Case-Details>h3 {
    text-align:center;
    margin-top:3px;
}
.Case-Details>p {
    font-size: 1.5vw;
    padding: 0 1vw 0 1vw;
    border:solid;
    border-radius:1vw;
}
.time { grid-area: time; }

.active, .btn:hover {
    background-color: #1e6cdc;
}

.button {
  background-color: #0BB5FF; /* light blue */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
