.caseDetails {
    color: black;
    text-align: center;

}

.ERoom {
    height:35vw;
    width: 77vw;
}
.Vitals {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 3vw 3vw 3vw;
    gap: 0.5px 0.5px;
    grid-template-areas:
    "Vital-Signs Vital-Signs"
    "BP HR"
    "T O2";
    grid-area: Vitals;
    border:solid;
    margin-top:20px;
    margin-bottom:10px;
    padding-top:1px;
    align-content:center;
    margin-left:10vw;
    margin-right:50vw;
    padding-left:0vw;
    padding-right:0vw;
    font-size:1.6vw;
}
.Vital-Signs { grid-area: Vital-Signs;
}
.Vital-Signs>h3 {
    text-align:left;
    margin-top:0px;
    padding-top:0px;
}


.location {
    font-family: Digital Numbers;
    /*Fix Font (Digital)*/
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 38px;
    text-align: center;

    /*--color: #FCFDC2;*/
}

h2 {
    font-size: 15px;
}
.fastButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:2vw;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.fastButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.fastButton:active {
    position:relative;
    top:1px;