

html {background-color:#282b2b}

  
  /* GRID LAYOUT */
  .grid {
    display: grid;
    grid-template-columns: 50px minmax(200px, 40%) auto 50px;
    grid-template-rows: 20px minmax(200px, auto) 10% 10% 80px;
    grid-gap: 0.5em;
  }
  
  /* Display spacers For visual purposes
  .spacer {
    background-color: grey;
  }*/
  
  #topBar {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  #homePageImage {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
  
  }
  
  #loginWindow {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
  
  #forgotPassword {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  #signUp {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  
  #leftSidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  
  #rightSidebar {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }
  
  #bottomBar {
    grid-column-start: 1;
    grid-column-end: 5;
    display: block;
    text-align: center;
    padding: 10px;
  }
  
  /* STYLING */
  body > * {
    font-family: 'Garamond';
    font-size: 14px;
  }
  
  input {
      font-family: 'Garamond';
      font-size: 14px;
  }
  
  .grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .item {
    height: 100%;
    background-color: #ff576d;
    border-color: #c2defd;
    border-style: solid;
    border-width: 1px;
    border-radius: 1rem;
  }
  
  #homePageImage img {
    vertical-align: middle;
    width: 100%;
  }
  
  #title {
    font-size: 2rem;
    color: #FCFDC2;
    font-family: 'Consolas';
    font-weight: bold;
  }
  
  #loginWindow input[type=submit] {
    width: 10rem;
    border-radius: 3px;
    background-color: #2dabf9;
    font-family:consolas;
    color: #FCFDC2;
  }
  
  #loginWindow input[type=submit]:hover {
    background-color: #0688fa;
  }
  
  #forgotPasswordButton, #signUpButton {
    color: #C0F334;
  }
  
  #forgotPasswordButton:hover, #signUpButton:hover {
    color: #bfbfbf;
  }
  
  #forgotPasswordForm, #signUpForm {
    display: none;
  }
  
  #bottomBar span {
    padding: 2%;
    color: #FCFDC2;
    font-size: 10px;
  }
  