.NavButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#31BBF6;
    text-align: center;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Consolas;
    font-size:2vw;
    padding:6px 24px;
    text-decoration:none;
}

.NavIcon {
    height:2vw;
}