html {background-color: #282b2b;}

/* 
To-Do:
    Align Content titles
    Fit US Image in grid
    Nav Bar spacing
    Point Border - Change color & round borders
*/


.grid-container {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 10vw 25vw 20vw 22vw 10vw;
    gap: 1px 5px;
    grid-template-areas:
    ". Outcome Points ."
    ". Action Key ."
    ". . Key ."
    ". Remember Point-Breakdown ."
    ". Navigation Navigation .";
    font-family: consolas;
    color:#fcf2c2;
}

.Outcome { grid-area: Outcome;
    font-size:3vw;}

.Points { grid-area: Points;
    margin-top:3vw;
    font-size:2vw;
    text-align: center;
}

.Action { grid-area: Action;
    text-align:center;
}

#explanation {
    font-size:1.5vw;
}

.Remember { grid-area: Remember;
    margin: 0 5vw;
    }
.Key { grid-area: Key;}

.Navigation {
    display: grid;
    grid-template-columns: 15vw 20vw 23vw 25vw;
    gap: 0px 0px;
    grid-template-areas:
    "Retry NextCase Review-Set Progress-Report";
    grid-area: Navigation;
    align-items: center;
    display:inline-grid;
}
.Retry { grid-area: Retry; }
.Review-Set { grid-area: Review-Set; }
.Progress-Report { grid-area: Progress-Report; }
.NextCase { grid-area: NextCase;}

.Point-Breakdown {
    grid-area: Point-Breakdown;
    display: grid;
    font-size:3vw;
    grid-template-columns: 75% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
    "points points"
    "Decision-Making decPoints"
    "Time timePoints"
    "Total totalPoints";
    border:dotted;
}
.points { grid-area: points;
    text-align:center;}
.Decision-Making { grid-area: Decision-Making; }
.decPoints { grid-area: decPoints; }
.Image-Acquisition { grid-area: Image-Acquisition; }
.Time { grid-area: Time; }
.Total { grid-area: Total; }
.imagePoints { grid-area: imagePoints; }
.timePoints { grid-area: timePoints; }
.totalPoints { grid-area: totalPoints; }


#result {
    color:red;

}

#actionicon {
    background-color:black;
    border-radius:50%;
    height:6vw;
}


h3 {
    color:#fd88f3;
    font-size:2vw;
}


.remember{
    height:8vw;
}




#keyImage {
    width:100%;
    height:75%;
}
#diagnosis {
    font-size:3vw;
    margin-bottom:0;
    text-align:center;
}