html {background-color:#282b2b}

.home {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: 10% 40% 40%;
        gap: 15px 0px;
        grid-template-areas:
          ". UltraEM UltraEM . ."
          ". UltraEM UltraEM Logo ."
          "Start Start Start Start Start";
    
    border-style: dotted;
    font-family: Consolas;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    text-align: center;
    color: #FF3500;
    background-color:#282b2b;
}

.UltraEM { grid-area: UltraEM; 
    margin:auto;
}
.Logo { grid-area: Logo; 
    }

.Start { grid-area: Start; }


#logo {
    width: 15vw;
}


.myButton {
    box-shadow: inset 0px -3px 10px 10px #29bbff;
    background-color: #2dabf9;
    border-radius: 15px;
    border: 5px solid #0b0e07;
    display: inline-block;
    color: #ffffff;
    font-family: Consolas;
    font-size: 8vw;
    padding: 2vw 8vw;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

.myButton:hover {
    background-color: #0688fa;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.UI-container {
    display: grid;
    grid-template-columns: 8% 10% 14% 14% 14% 27% 10%;
    grid-template-rows: 7% 21% 21% 21% 2% 5% 5% 10%;
    gap: 1px 1px;
    grid-template-areas:
    "Help . Location Location Location Location time"
    "Body Body Ultrasound Ultrasound Ultrasound Ultrasound Actions"
    "Body Body Ultrasound Ultrasound Ultrasound Ultrasound Actions"
    "Body Body Ultrasound Ultrasound Ultrasound Ultrasound Actions"
    ". . . . . . ."
    ". Case-Details Case-Details Case-Details . Vitals ."
    ". Case-Details Case-Details Case-Details . Vitals ."
    ". Case-Details Case-Details Case-Details . Vitals .";
    font-family:consolas;
}
.Help { grid-area: Help;}

#help {    height: 3vw;}

.Body { grid-area: Body;}


.parent{
    position:absolute;
    z-index:0;
}

#bodyImage{
    height:30vw;
    object-fit:cover;
}
#ruqicon {
    position:absolute;
    z-index:1;
    bottom: 21vw;
    right:9.5vw;
    height:2vw;
}

#luqicon {
    position:absolute;
    z-index:1;
    bottom:21vw;
    right:5vw;
    height:2vw;}

#subxicon {
    position:absolute;
    z-index:1;
    bottom:23vw;
    right:7.25vw;
    height:2vw;}

#bladdericon {
    position:absolute;
    z-index:1;
    bottom:16vw;
    right:7.25vw;
    height:2vw;}

#rLungicon {
    position:absolute;
    z-index:1;
    bottom:26vw;
    right:9.5vw;
    height:2vw;}


#lLungicon {
    position:absolute;
    z-index:1;
    bottom:26vw;
    right:5vw;
    height:2vw;}


.Ultrasound { grid-area: Ultrasound; }

.USimage {
    height:31vw;
    width: 67vw;
}

.Location { grid-area: Location;
}

#currentLocation {
    margin-top: 0;
    padding-top:0;
    text-align:center;
    font-size: 2.7vw;
    color:#FCFDC2
}

.Actions { grid-area: Actions;
    font-size:1.5vw;
    text-align:center;
}

.Actions>h3 {
    font-size:1.7vw;
    margin-bottom:0;
    color:#FCFDC2;
}

.actionButton {
    height:5.3vw;
    text-align:center;
    display: inline-block;    
    border-radius:3vw;
}

#obsButton,#ctButton,#surgeryButton,#interveneButton {
    width:9vw;
    font-size: 1vw;
    border-radius:2vw;
}

#obsButton {
    background-color:#9CE5A3;
}

#ctButton {
    background-color:#31BBF6;
}

#surgeryButton {
    background-color:#fc4f4f;
}

#interveneButton {
    background-color:#F6B331;
}

.Vitals {
    grid-area: Vitals;
    border:solid;
    border-radius:1vw;
    border-color:#eff0e2;
    margin-top:0px;
    padding-top:5px;
    align-content:center;
    margin-left:3vw;
    padding-left:3vw;
    font-size:2.5vw;
    background-color: rgba(156, 229, 165, 0.15);
    color:#ffffff;
}
.Vital-Signs { grid-area: Vital-Signs;
    font-size:1.5vw;
}
.Vital-Signs>h3 {
    text-align:center;
    margin-top:0px;
    padding-top:0px;
    color:#FCFDC2;
}
.BP,.HR,.T,.O2 {
    font-size:2vw;
    color:#eff0e2
}

.BP { grid-area: BP;}
.HR { grid-area: HR;}
.T { grid-area: T;}
.O2 { grid-area: O2;}
.Case-Details { 
    grid-area: Case-Details;
    border:solid;
    border-radius:1vw;
    border-color:#eff0e2;
}
.Case-Details>h3 {
    text-align:center;
    margin-top:3px;
    margin-bottom: auto;
    color:#FCFDC2;
}
.Case-Details>p {
    font-size: 1.5vw;
    padding: 0 1vw 0 1vw;
    color:#eff0e2;
}
.time {
    grid-area: time; 
    color:#eff0e2;
    text-align: center;
    }

.active, .btn:hover {
    background-color: #1e6cdc;
}