.ShiftButton {
  background-color: #31BBF6;
  color: #FCFDC2;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.ShiftButton:hover {
    background:linear-gradient(to bottom, #0096DF 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
