.ProgressReportBox {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 10vw 12vw 11vw 10vw 10vw;
    gap: 0px 0px;
    grid-template-areas:
    "Title Title . ."
    "ScoreData ScoreData MostMissed MostMissed"
    "ActionBreakdown ActionBreakdown LocationBreakdown LocationBreakdown"
    "ActionBreakdown ActionBreakdown LocationBreakdown LocationBreakdown"
"Navigation Navigation . .";
    padding-left:10vw;
    padding-right:10vw;
}
.Title { grid-area: Title;
Text-Align:center;
font-size:2vw;}

.ActionBreakdown { grid-area: ActionBreakdown;
font-size:1vw;}
.LocationBreakdown { grid-area: LocationBreakdown; }

.ScoreData { grid-area: ScoreData;
border:solid;
border-radius:2vw;
text-align:center;
font-size:1.5vw;}

.MostMissed { grid-area: MostMissed;
border:solid;
border-color:black;
border-radius: 2vw;
color:pink;
text-align:center;
font-size:1.5vw;}

.Navigation {grid-area:Navigation;}

#byAction {
    text-align:center;
}

#byLocation {
    text-align:center;
}


#body {
    height:20vw;
    padding-left:8vw;
}
.parent{
    width:2vw;
    height:2vw;
    position:absolute;
    z-index:0;
}

.inner {
}

#ruqicon {
    position:absolute;
    z-index:1;
    bottom:-12vw;
    right:-12vw;
    height:2vw;}

#luqicon {
    position:absolute;
    z-index:1;
    bottom:-12vw;
    right:-17.5vw;
    height:2vw;}

#subxicon {
    position:absolute;
    z-index:1;
    bottom:-10.5vw;
    right:-15vw;
    height:2vw;}

#bladdericon {
    position:absolute;
    z-index:1;
    bottom:-17vw;
    right:-15vw;
    height:2vw;}

#rLungicon {
    position:absolute;
    z-index:1;
    bottom:-8vw;
    right:-13vw;
    height:2vw;}


#lLungicon {
    position:absolute;
    z-index:1;
    bottom:-8vw;
    right:-17vw;
    height:2vw;}


.ReviewShiftButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:2vw;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.ReviewShiftButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}
.ReviewShiftButton:active {
    position:relative;
    top:1px;


.NewShiftButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:Arial;
    font-size:2vw;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.NewShiftButton:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
}

.NewShiftButton:active {
    position:relative;
    top:1px;