html {background-color: #282b2b;}
/* 
To-Do:
NavBar Buttons - Style
Fit all content on Screen
Show images on hover

*/


.ui-tooltip {
    position: absolute;
    background: #f9a235;
    color: #fff;
    padding: 6px 0px;
    border-radius: 25px;
}

b {
 font-weight: 900;
}

.ProgressReportBox {
 display: grid;
 grid-template: 8vw 15vw 15vw 10vw 10vw 10vw / 25vw 15vw 10vw 10vw 10vw 10vw;
 gap: 15px 15px;
 grid-template-areas:
   "Logo Logo Logo Logo Logo Logo"
   "Title Title Title Title Title Title"
   "ScoreData ScoreData ScoreData MostMissed MostMissed MostMissed"
   "Category ActionBreakdown ClassAverage LocationBreakdown LocationReveal LocationReveal"
   "Category ActionBreakdown ClassAverage LocationBreakdown LocationReveal LocationReveal"
   "Navigation Navigation Navigation Navigation Navigation Navigation";
 padding: 5vw 5vw 5vw 5vw;
 font-family:consolas;
 color:#FCFDC2;
}

.Logo {
   grid-area: Logo;
}

.Logo img {
 width: 10%;
 height: auto;
 margin-left: 50%;
 margin-right: 50%;
}

.Title {
 grid-area: Title;
 text-align: center;
 font-size: 3.5vw;
 color: #E57200;
 font-weight: 150;
 background-color: #0096DF;
 border: 4px solid #FF3500;
 border-radius: 8px;
}

.ScoreData {
 grid-area: ScoreData;
 background-color: 0096DF;
 color: #FFFFFF;
 border-color: rgba(35,45,75,1);
 border: 4px solid #FF3500;
 border-radius: 8px;
 text-align: center;
 font-size: 2vw;
}

.MostMissed {
 grid-area: MostMissed;
 background-color: #0096DF;
 color: #FFFFFF;
 border-color: rgba(35,45,75,1);
 border: 4px solid #FF3500;
 border-radius: 8px;
 text-align: center;
 font-size: 2vw;
}

.Category {
 grid-area: Category;
 font-size: 2vw;
 text-align: center;
}

.ActionBreakdown {
 grid-area: ActionBreakdown;
 font-size: 2vw;
 text-align: center;
}

.ClassAverage {
 grid-area: ClassAverage;
 font-size: 2vw;
 text-align: center;
}

.LocationBreakdown {
 grid-area: LocationBreakdown;
 text-align: center;
 font-size: 2vw;
}

.LocationReveal {
 grid-area: LocationReveal;
 text-align: center;
 font-size: 2vw;
}

.Navigation {
 grid-area: Navigation;
}

#byLocation {
 text-align: center;
}


#body {
 height: 20vw;
 padding: 1vw;
 position: absolute;
}

.body {
 width: 1px;
 height: 1px;
 position: absolute;
 z-index: 0;
}

#ruqicon:hover {
  position: relative;
}
#ruqicon:hover:after {
  content: url(./USLibrary/gifs/ruq-nl-2.gif); /* no need for qoutes */
  display: block;
  position: absolute;
  /*left: 123px;  change this value to one that suits you */
  /*top: 56px;  change this value to one that suits you */
}
#ruqicon {
 position: absolute;
 z-index: 1;
 bottom: -16vw;
 right: -7.5vw;
 height: 2vw;
}

#luqicon {
 position: absolute;
 z-index: 1;
 bottom: -16vw;
 right: -12vw;
 height: 2vw;
}

#subxicon {
 position: absolute;
 z-index: 1;
 bottom: -14vw;
 right: -9.75vw;
 height: 2vw;
}

#bladdericon {
 position: absolute;
 z-index: 1;
 bottom: -19vw;
 right: -9.75vw;
 height: 2vw;
}

#rLungicon {
 position: absolute;
 z-index: 1;
 bottom: -12vw;
 right: -7.5vw;
 height: 2vw;
}

#lLungicon {
 position: absolute;
 z-index: 1;
 bottom: -12vw;
 right: -12vw;
 height: 2vw;
}

.LocationReveal img {
 grid-area: LocationReveal;
 Width: 12vw;
 Height: Auto;
 position: static;
}

.ShiftButton {
 box-shadow: inset 0px 1px 0px 0px #ffffff;
 background-color: #31BBF6;
 border-radius: 6px;
 border: 1px solid #dcdcdc;
 display: inline-block;
 cursor: pointer;
 color: #FCFDC2;
 font-family: Lora;
 font-size: 2vw;
 font-weight: bold;
 padding: 6px 24px;
 text-decoration: none;
 text-shadow: 0px 1px 0px #ffffff;
 position: relative;
 margin: auto;
 width: 40%;
 text-align: center;
 font-size: 24px;
 cursor: pointer;
}


.ShiftButton:hover {
 background: linear-gradient(to bottom, #0096DF 5%, #ffffff 100%);
 background-color: #f6f6f6;
}

.ShiftButton:active {
 position: relative;
 top: 1px;
 }

